* {
  font-family: Frutiger;
  font-style: normal;
  font-variant: normal;
  font-weight: 100;
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  text-align: left;
  background-color: #eeeff0;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  margin-bottom: 0 !important;
}

.rbc-day-slot .rbc-events-container {
  margin-right: 0 !important;
}

.rbc-event {
  cursor: not-allowed !important;
}

.rbc-event-label {
  display: none !important;
}

div.rbc-time-gutter > div.rbc-timeslot-group > div.rbc-time-slot {
  background-color: white !important;
}

.ant-menu-horizontal {
  border-bottom: none !important;
}

.rbc-calendar {
  top: 12rem;
  left: 0;
  position: absolute;
  min-width: 95%;
  right: 0;
  height: 85vh;
}

.ant-modal {
  top: 33%;
}

.rbc-day-slot .rbc-background-event,
.rbc-day-slot .rbc-event {
  border-color: #fff !important;
}

.rbc-current-time-indicator {
  background-color: greenyellow !important;
  height: 2px !important;
}

.checked {
  color: green;
}

.ant-select-selector {
  text-align: center !important;
  height: auto !important;
}

.slot-disable:hover {
  cursor: not-allowed !important;
  background-color: blue;
}
