.headerJW {
  height: 80px;
  padding: 0 1.875rem;
}

.formContainer {
  position: absolute;
  top: 33%;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  max-width: 65%;
  min-width: 50%;
}

.error {
  text-align: center;
  color: red;
}
