.Header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1030;
  background-color: #fff;
  padding: 1.875rem 1.875rem 0.5rem 1.875rem;
  border-bottom: #1d446b 1px solid;
}

.HeaderTitle {
  color: #1d446b;
  text-align: center;
}
.deliveryInformations {
  display: flex;
  justify-content: space-evenly;
  font-size: large;
  border-top: 1px solid #1d446b;
}

.banner {
  display: flex;
  justify-content: space-between;
}

.titleDeliveryInformations {
  text-align: center;
}

.deliveryInformations > p {
  margin-top: 0.5rem;
}
